div > img {
    max-width: 100%;
    max-height: 500px;
    width: auto;
    height: auto;
} 

/* a {
    font-weight: 500;
    color: #0051ff;
    text-decoration: inherit;
} */

a:hover {
    color: #3e63d3;
}

.artwork-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    border: 2px solid #333;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    background: linear-gradient(0deg, #dd818100, #fdf2f218);
}

.artwork-box a {
    color: rgb(58, 58, 181);
}

.artwork-box a:hover {
    color: #3e63d3;
}