:root {
  font-family: 'Righteous', cursive;;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  /* background: linear-gradient(0deg, #dd8181, #ffffff); */

  font-synthesis: none;
  -webkit-font-smoothing:antialiased;
  height:fit-content
} 

body {
  background: linear-gradient(0deg, #dd8181, #fdf2f2);
  min-width: 320px;
  min-height: 100vh;
}